/* Modal boxのデザイン ここから*/
.loginModal, .regiModal {
    background-color: lightgray;
    opacity: .8;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left:0;
    top:0;
    display: none;
}

.loginModal_box, .regiModal_box {
    position: relative;
    width: 30%;
    height: 40%;
    background-color: white;
    margin: auto;
    top: 20%;
}

#courses-select {
    display: none;
}
/* ここまで */

